<h3>Agregar producto</h3>


<form action="/api/products/addProd" method="post">
Nombre del Producto: <input type="text" name="title" id="title">
Descripcion del Producto: <input type="text" name="description" id="description">
Precio del Producto: <input type="number" name="price" id="price">
Codigo del Producto: <input type="number" name="code" id="code">
Cantidad de unidades: <input type="number" name="stock" id="stock">
Categoria del Producto: <input type="text" name="category" id="category">
<input type="submit" value="ENTER">


    
</form>